.main {
  display: flex;
  height: 97dvh;
  justify-content: space-between;
}
.navbar-container {
  margin: 30px 0;
  padding-left: 15px;
}
.media-container {
  flex: 1;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  margin: 25px 20px;
  overflow-x: scroll;
  background-color: #121212;
}
.info-card-container {
  margin: 25px 0;
  border-radius: 24px;
  background-color: #121212;
  overflow: scroll;
}
.hero {
  padding: 30px;
  max-height: 40rem;
}

.more-cards {
  padding-left: 40px;
}
